*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main div{
    margin-top: 3%;
    margin-bottom: 3%;
}





/* INDEX HTML*/

/* header ---------------------------------------*/

/*titulo rmh*/
h1{
    font-family: "Quicksand", sans-serif;
    padding-top: 25px;
}
.barra{ /* mi imput e icono se coloco al lado del logo, la lupa y el buscador */
    display: flex;
    justify-content: flex-start; /*corremos la imagen a la izquierda */
    margin-left: 5px;
}
header{/* barra de navegacion se quede en el lugar */
    position: sticky;
    background-color: white;
    top: 0;
    display: flex;
    justify-content: space-between;
}
/* foto header */
.header-foto{
    width: 90px;
}

nav ul{
    list-style: none;/* para quitar los puntos de la barra*/
    display: flex;/*la barra ahora es horizontal */
    justify-content: center;
}
nav li{
    padding-top: 15px;
    margin: 15px;
    justify-content: center;
    font-size: large;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-family: "Comfortaa", sans-serif;
}
li a{
    text-decoration: none;

}
nav a{
    color: rgb(0, 0, 0);
    
}

.main{
    background-color: black;
}


/* BANNER ----------------------------------*/
.banner{
    margin: 0px;
    padding: 0px;
}
.banner img{
    width: 100%;
    margin: 0px;
    padding: 0px;

}

/*introduccion a rmh*/
.main-section-container{
    background-color: black;

}
.section-container{
    display: flex;
    align-items: center;
    padding: 20px;
}

.text-container{
    color: rgb(255, 255, 255);
    font-size: x-large;
    line-height: 2;
    padding-right: 10px;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
/* banner 2*/
.figure-banner{
    display: flex;
    justify-content: center;
}
.img-banner{
width: 100%;
padding: 0px;
margin: -20px;
border: 0px;
}

.nav-link {
    color: black;
    padding: 10px;
    transition: 0.5s;

}

.nav-link:hover {
    background-color: #ecebeb;
    color: rgb(255, 251, 251);
}

.carousel-inner,
.carousel-item{
    width: 1000%;
    height: 840px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* desde renders .. imagen 3d*/

.section-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    justify-content: space-around;
    padding: 15px;
    gap: 15px;
    margin: 0px;
    background-color: white;
}
.section-div div{
    display: flex;
    flex-direction: column;
}
.section-div-p{
    font-size: 25px;
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}
.section-div-titulo{
    font-size: 28px;
    font-weight: bold;
}
.section-div-imgage{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.section-div-imgage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* CONCURSOS */

.concursos-titulo{
    display: flex;
    justify-content: center;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.concursos-titulo div h2{
    border-radius: 10px ;
    font-size: 70px;
    border-color: black;
    border: 15px;
    border:  solid;
    padding: 15px 50px 15px 50px;
    border: 0px;
    background-color: rgb(19, 18, 18);
    color: rgb(235, 232, 232);
}
.concursos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    justify-content: center;
    padding: 20px;
    gap: 30px;
}   


.image {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wide {
    grid-column: span 2;
}


/* footer ----------------------------------------*/
footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
}
footer h3{
    font-family: "Quicksand", sans-serif;
    padding-top: 25px;
}

footer h4{
    font-family: "Quicksand", sans-serif;
    padding-top: 10px;
}
.contactos{
    padding: 10px;

}




























/* -----------------SERVICIOS.html------------------*/


.servicios-titulo{
    padding: 15px;
}

.servicios-main{
    margin-bottom: 25px;
}
.titulo-generico{
    font-family: "Quicksand", sans-serif;
    justify-content: flex-start;
    font-size: xx-large;
    padding-left: 10px;
    padding-top: 5px;
    background-color: rgb(7, 6, 6);
    color: rgb(255, 255, 255);
    margin-bottom: 100px;
}
.titulo-servicios{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    padding: 15px;
    font-size: 45px;
    font-weight: 1000;
}
.servicios{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    gap: 30px;
}

.producto {
    background-color: #ffffff;
    box-shadow: 5px 5px 0px rgb(155, 155, 155);
    border-radius: 15px;
}
.producto img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.producto h2{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-style: normal;
    padding: 10px;
}
.producto-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}






































/* -----------------PROYECTOS.html------------------*/

/* titulos*/
.proyectos-titulos{
    font-family: "Quicksand", sans-serif;
    justify-content: flex-start;
    font-size: xx-large;
    padding-left: 10px;
    background-color: rgb(7, 6, 6);
    color: rgb(255, 255, 255);
    font-weight: 1000;

}

.casas{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(300px, 400px)) ;
    gap: 20px;
    justify-content: space-around;
    background-image: url(../img/white-texture.jpg);
    padding: 15px;
}

.casas-img{
    width: 400px;
    border-radius: 15px ;

}

.edificios{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(300px, 400px)) ;
    gap: 20px;
    justify-content: space-around;
    background-image: url(../img/white-texture.jpg);
    padding: 15px;

}

.diseño-de-interiores{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(300px, 400px)) ;
    gap: 20px;
    justify-content: space-around;
    background-image: url(../img/white-texture.jpg);
    padding: 15px;
}


.card-img{
    width: 100px;
}





/* -----------------ESTUDIO.html------------------*/

/*TITULO*/

/*banner estudio*/
.estudio-banner{
    width: 100%;
}
.estudio-div{
    background-color: black;
    padding: 15px;
    margin-top: -17px;
}
.estudio-h2{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    padding: 15px;
    font-size: 45px;
    font-weight: 1000;
    color: #ffffff;
}

.estudio{
    display: flex;
    background-color: rgb(34, 34, 34);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.estudio-p{
    color: white;
    padding: 25px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-size: 25px;
    font-style: italic;
    line-height: 40px;
}




/* descripcion de cursos*/

/* UX UI*/
#rectangulos-izquierda{
    grid-template-columns: 1000px;

    padding-right: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;

}

.imagen-contenedor-izquierda{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding-top: 20px ;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: 0px;
    border-radius: 25px;
    
}
.imagen-ux-ui{
    width: 300px;
    border-radius: 10%;
    border: solid 2px rgb(17, 17, 17);

}
.texto-rectangulo-izquierda{
    text-align: left;
    padding-left: 0px;
    padding-right: 50px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    color: rgb(0, 0, 0);
    margin-left: 50px;
}

/* LUMION-CORONA RENDERING*/

#rectangulos-derecha{
    grid-template-columns: 1000px;
    padding-left: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;

}

.imagen-contenedor-derecha{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    margin: 0px;
    
}

.texto-rectangulo-derecha{
    text-align: right;
    padding-left: 50px;
    padding-right: 0px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    color: rgb(26, 25, 25);
    margin-right: 50px;
}




/* -----------------CONTACTO.html------------------*/

.formulario{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    padding: 15px;
}
.formulario label{
    font-size: 25px;
    font-family: "Comfortaa", sans-serif;
    color: rgb(83, 87, 87);
}
.formulario-h2{
    font-size: 30px;
    font-family: "Comfortaa", sans-serif;
}
.formulario-p{
    font-size: 23px;
    font-family: "Comfortaa", sans-serif;
    color: rgb(83, 87, 87);
}
.formulario input{
    height: 25px;
    width: fit-content;
}
form textarea{
    height: fit-content;
    width: fit-content;
}
form button{
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(138, 27, 27);
    width: fit-content;
    color: rgb(255, 254, 254);
}





/*media*/

@media (min-width: 480px) and (max-width: 768px) {

    header{
        flex-direction: column; 
    }
    nav ul{
        justify-content: space-around;
    }
    nav li{
        padding: 0px;
        margin: 10px;

    }
    .img-banner{
        width: 100%;
    }

    .titulo-servicios{
        font-size: 35px;
        text-align: center;
    }


}

@media (max-width:479px) {


    header{
        flex-direction: column; 
    }


    nav ul{
        padding: 0px;
        margin: 2px;
    }
    nav li{
        padding: 0px;
        margin: 5px;
        font-size: 15px;
        font-weight: bold;

    }

    .text-container{
        font-size: 18px;
    }

    .wide {
    grid-column: auto;
    }
    footer{
        flex-direction: column;
    }
    .concursos-titulo div h2{
        font-size: 40px;
    }
    .img-banner{
        width: 100%;
    }
    .section-div-p{
        font-size: 20px ;
        text-align: center;
    }
    .section-div-titulo{
        text-align: center;
    }


    .titulo-servicios{
        font-size: 30px;
        text-align: center;
    }
    .casas{
        justify-items: center;
    }
    .edificios{
        justify-items: center;
    }
    .diseño-de-interiores{
        justify-items: center;
    }
    .casas-img{
        width: 250px;
        
    }
}