/* footer ----------------------------------------*/
footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
}
footer h3{
    font-family: "Quicksand", sans-serif;
    padding-top: 25px;
}


footer h4{
    font-family: "Quicksand", sans-serif;
    padding-top: 10px;
}
.contactos{
    padding: 10px;

}