/*variables*/
/* BANNER ----------------------------------*/
.banner{
    margin: 0px;
    padding: 0px;
    img{
        width: 100%;
        margin: 0px;
        padding: 0px;
        object-fit: cover;
    }
}

