/* -----------------ESTUDIO.html------------------*/

/*TITULO*/

/*banner estudio*/


.articulo-arquitecta{
    display: flexbox;
    

}

.estudio{
    display: flex;
    background-color: rgb(34, 34, 34);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    div p{
        color: white;
        padding: 25px;
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-size: 25px;
        font-style: italic;
        line-height: 40px;
    }
}


